<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcxAgent.mapper.MemoryMapper">

    <resultMap id="BaseResultMap" type="com.zcxAgent.model.Memory">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="conversation_id" column="conversation_id" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,conversation_id,role,content,
        createTime
    </sql>
</mapper>
